[submodule "sscs-ccd-e2e-tests"]
	path = sscs-ccd-e2e-tests
	url = https://github.com/hmcts/sscs-ccd-e2e-tests.git
[submodule "ccd-definition-processor"]
	path = ccd-definition-processor
	url = git@github.com:hmcts/ccd-definition-processor.git
