apiVersion: v2
description: SSCS - CCD Definitions
name: sscs-ccd-definitions
version: 0.0.10
dependencies:
  - name: nodejs
    version: 3.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
